# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/
dist/
build/

# Env
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database
*.db

# Uploads
uploads/images/*
!uploads/images/.gitkeep

# Logs
*.log
